<div class="sidebar-wrapper">
    <div class="logo">
        <a href="." class="simple-text">
            <div class="logo-img">
                <img src="assets/img/logosmall.png" alt="">
            </div>
        </a>
    </div>
    <ul class="nav main-menu" id="main-menu">
        <li>
            <a href="app/dashboard.html" class="ajax-link" data-title="Dashboard">
                <i class="ti-panel"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="app/projects.html" class="ajax-link" data-title="STEM Projects">
                <i class="ti-package"></i>
                <p>STEM Projects</p>
            </a>
        </li>
        <li>
            <a href="app/visualization.html" class="ajax-link" data-title="Map Visualization">
                <i class="ti-map-alt"></i>
                <p>Map Visualization</p>
            </a>
        </li>
        <li>
            <a href="app/syndromic.html" class="ajax-link" data-title="Syndromic Surveillance">
                <i class="ti-target"></i>
                <p>Syndromic Surveillance</p>
            </a>
        </li>
        <li>
            <a href="app/analytics.html" class="ajax-link" data-title="Analytics & Forecasting">
                <i class="ti-stats-up"></i>
                <p>Analytics &amp; Forecasting</p>
            </a>
        </li>
        <li>
            <a href="app/data.html" class="ajax-link" data-title="Data Source Management">
                <i class="ti-server"></i>
                <p>Data Source Management</p>
            </a>
        </li>
        <li>
            <a href="app/reports.html" class="ajax-link" data-title="Reports">
                <i class="ti-bookmark-alt"></i>
                <p>Reports</p>
            </a>
        </li>
        <li>
            <a href="app/users.html" class="ajax-link" data-title="User Management">
                <i class="ti-user"></i>
                <p>User Management</p>
            </a>
        </li>
        <li>
            <a href="app/about.html" class="ajax-link" data-title="About FASSSTER">
                <i class="ti-info-alt"></i>
                <p>About FASSSTER</p>
            </a>
        </li>
        <li class="active-pro">
            <a href="app/ajwcc.html"  class="ajax-link" data-title="About AJWCC">
                <i class="ti-medall"></i>
                <p>AJWCC</p>
            </a>
        </li>

        <!-- 
            These items are cheats to accommodate page refresh to provide proper titles to pages. They are intentionally hidden from view.
        -->
        <li class="hide">
            <a href="app/project.html" class="ajax-link" data-title="Project Details">
                <i class="ti-package"></i>
                <p>Project Details</p>
            </a>
        </li>
        <li class="hide">
            <a href="app/profile.html" class="ajax-link" data-title="My Profile">
                <i class="ti-package"></i>
                <p>My Profile</p>
            </a>
        </li>
        <li class="hide">
            <a href="app/settings.html" class="ajax-link" data-title="App Settings">
                <i class="ti-package"></i>
                <p>Settings</p>
            </a>
        </li>
    </ul>
</div>
    