<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-success">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="shareModalLabel">Share Project</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<select multiple id="modNames" class="form-control shareSelect" name="modnames">
							<option>Kennedy Espina</option>
							<option>Christian Pulmano</option>
							<option>Ma. Regina Estuar</option>
							<option>Romel John Santos</option>
							<option>Ivan Saddi</option>
							<option>Jan-Daniel Belmonte</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button form="shareid" type="submit" class="btn btn-success">Share</button>
				</div>
			</div>
		</div>
	</div>

<script>
	//let us setup all UI
	$('.shareSelect').select2({
        placeholder: "Choose Users",
        tags: true,
    });
</script>